@media screen and (max-width:425px) {
     .banner-txt h2{
          font-size: 20px;
          letter-spacing: 1px;
          word-spacing: 0;
     }
     #services h2,
     #features h2{
          font-size: 30px;
     }
     #services p{
          padding: 0 25px;
     }
     #services .item-box{
          padding-top: 25px;
     }
     #features .title p{
          margin-bottom: 40px;
     }
     .filter-button-group button{
          font-size: 14px;
          padding:0 10px !important;
     }
     .pricing-table{
          margin-bottom: 20px;
     }
}
/* @media (min-width: 576px) and (max-width: 767px)  {

     .logo img{
          max-width: 100%;
     }

} */

@media (min-width:768px) {

     .logo img {
          max-width: 100%;
     }
}
@media (max-width:768px) {
     nav{
          padding: 17px 0;
     }
     .sidebar{
          padding: 10px 0;
     }
     #counter p{
          font-size: 14px;
     }
     #counter .social{
          margin-bottom: 20px;
     }
     #team p{
          margin-bottom: 10px;
     }
     #team .single-team{
          margin: 15px 0;
     }
     #blog .single-blog{
          margin-top: 10px;
     }
}
@media screen and (max-width:992px) {

     .lap-menu
     {
          display: none !important;
     }
     .logo img{
          max-width: 100%;
     }
     .tablate-menu{
          z-index: 9999;
          display: block;
          top: 100% !important;
          left: 0 !important;
          width: 100%;
          background-color: #fff;
     }
     .tablate-menu li a{
          display: block;
          color: #666;
          font-weight: 400;
          font-size: 14px;
          line-height: 30px;
          padding: 5px 15px  !important;
          margin: 2px 5px;
     }
     .tablate-menu li:hover .tablate-sub-menu{
          background-color: #e6e6e6;
     }
     .tablate-menu-blog i{
          right: 13px;
     }
     .sidebar{
          color: #61d2b4;
          border: 1px solid #61d2b4;
          font-size: 17px;
     }
     
}


